/**{
    padding: 0;
    margin: 0;
}*/
*,
*::before,
*::after {
    --azul-oscuro: #154580;
    --azul-medio: #3970BE;
    --azul-claro: #E5F1FF;
    --gris-texto: #444444;
    --gris-claro: #ECECEC;
    box-sizing: border-box;
}

header {
    margin-top: 15px;
    background-color: #151715;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

/*body{
    background-color: #424441;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #f3f3f3;
}*/

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    /*text-transform: uppercase;*/
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

#nombre-empresa {
    font-family: "Poppins", sans-serif !important;
    font-weight: 800;
    font-style: normal;
    color: #fff;
    cursor: default;
    font-size: medium;
    text-decoration: none;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #424441;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    text-align: left;
}

h3{
    color: #f3f3f3;
    font-size: 24px;
    padding-top: 124px;
}

.contactoBoton{
    border-radius: 50px;
    padding: 10px 15px;
    border: none;
    background-color: #c4ff3d;
    font-size: 20px;
    color: #000;
}

.servicios{
    height: 1100px;
    background-image: url("/sources/serviciosBckg.png");
    background-size: 100% auto;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    padding: 0 5vw;
}

.card{
    width: 30vw;
    height: 250px;
    margin: 0 75px 65px;
    border-radius: 5px;
    text-align: center;
}
    .card img{
        margin-top: 28px;
    }
    .card h5{
        text-transform: uppercase;
        font-size: 16px;
        margin-top: 20px;
    }
    .card p{
        font-size: 14px;
        margin-top: 37px;
        padding: 0 20px;
    }

.card-white{
    background-color: #f3f3f3;
    color: #202020;
}

.card-black{
    background-color: #202020;
    color: #f3f3f3;
}


form{
    margin: 20px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    text-align: left;

}

.inputpadron { 
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.submit{
    margin: 20px 0 0;
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: greenyellow;
    border: none;
    border-radius: 5px;
    transition: 2s all;
    cursor: pointer;
}

.submit:hover{
    background: greenyellow;
    transform: scale(1.25);
}

/*FOOTER*/
.footer__container {
    display: flex;
    justify-content:space-around;
    width: 100%;
    height: 150px;
    color: white;
    line-height: 1.5;
    font-size: 16px;
    background-color: var(--gris-texto);
}

.footer__titulo {
    color: var(--azul-medio);
    font-weight: bold;
    padding: 10px 0 20px 0;
}

.copyright{
    color:white;
    font-size: 13px;
    text-align: center;
    margin: 20px;
}



/*Half queries*/

@media (max-width: 1100px){
    .card{
        width: 30vw;
        height: 250px;
        margin: 0 20px 65px;
    }
    .servicios{
        background-size: cover;
    }
}

@media (max-width: 650px) {
    h3{
        font-size: 20px;
    }
    .servicios{
        background: none;
    }
    .cardContainer{
        flex-direction: column;
        padding: 0;
    }
    .card{
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
        padding: 0;
        border-radius: 0;
    }
    .card:nth-child(3) {
        order: 3; 
    }
    .card:nth-child(4) {
        order: 3;
    }
}